:root {
    --styling-font-title: Tektur, Georgia, serif;
    --styling-font-text: Raleway, Georgia, sans-serif;
    --Accent1-Color: #fbfbc1;
    --Accent2-color: #3e0923;
    --Title-color: #ffff75;
    --Text-color: #6a0c39;
    --Hover: #830240;
    text-decoration: none;
}

/* ----------------------------------------------------Header---------------------------------------------------- */

header {
    display: grid;
    grid-template-columns: 24px 1fr 1fr;
    padding: 5px 0 5px 10px;
    align-items: end;
    column-gap: 8px;
    background-color: var(--Accent2-color);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: var(--Title-color);
    font-family: var(--styling-font-title);
}

/* ------------------------------------Navigation------------------------------------ */

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--Title-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}
.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}
.navigation.show {
    display: block;
    display: flex;

}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation a {
    display: block;
    color: var(--Title-color);
    background-color: var(--Accent2-color);
    text-decoration: none;
    border: solid 1px #000000;
    padding: .8rem 10px;
    font-family: var(--styling-font-title);
}
.navigation a.current {
    background-color: #5f0f0f;
}
.navigation a:hover {
    background-color: var(--Hover);
}

/* ----------------------------------------------------Body---------------------------------------------------- */

/* ------------------------------------Filters------------------------------------ */

.filters{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
    gap: 15px;
    padding: 0;
    font-family: var(--styling-font-title);
}
.filters li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border:  #000000 solid 2px;  
    background-color: var(--Accent2-color);
    border-radius: 20px;
}
.filters a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    color: var(--Title-color);
    text-decoration: none;
    font-size: 1.5rem;
}
.filters li:hover {
    background-color: var(--Hover);
}
/* ------------------------------------cards------------------------------------ */

.card { 
    color: var(--Text-color);
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
    padding: 5px 0 5px 10px;
    border: 5rem;
    border-color: black;
    border-radius: 1rem;
    font-family: var(--styling-font-text);
}

.information { 
    color: var(--Text-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 0 none black;
}

.oneCard{ 
    background-color: var(--Accent1-Color);
    padding: 1rem;
    border: none;
    display: grid;
    place-items: center;
    grid-gap: 0;
    border: 3px solid black;
}

.card section h2{ 
    background-color: var(--Accent2-color);
    color: var(--Title-color);
    border: 1px solid black;
    padding: 15px;
}

.card section img{ 
    width: 100%;
    border: 2px solid black;
}

.card section p{ 
    width: 100%;
}

/* ------------------------------------List------------------------------------ */

.list { 
    color: var(--Text-color);
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
    padding: 10px;
    border: 5rem;
    border-color: black;
    border-radius: 1rem;
    font-family: var(--styling-font-text);
}

.lists { 
    background-color: var(--Accent1-Color);
    padding: 1rem;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
    grid-gap: 0;
    padding: 10px;
}

.website{
    color: var(--Title-color);
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    background-color: var(--Accent2-color);
}
/* ----------------------------------------------------Footer---------------------------------------------------- */

footer {
    display: grid;
    padding: 1rem 10px;
    text-align: center;
    background-color: var(--Accent2-color);
    color: var(--Title-color);
    font-family: var(--styling-font-text);
    font-family: var(--styling-font-text);
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border:  #000000 solid 1px;
    border-radius: 22px;
}
.social img {
    width: 22px;
    height: 22px;
}
.social a:hover {
    background-color: var(--Hover);
}

.dates {
    padding: 5px;
    margin: 10px;
}