:root {
    --styling-font-title: Tektur, Georgia, serif;
    --styling-font-text: Raleway, Georgia, sans-serif;
    --Accent1-Color: #fbfbc1;
    --Accent2-color: #3e0923;
    --Title-color: #ffff75;
    --Text-color: #6a0c39;
    --Hover: #830240;
    text-decoration: none;
}
@media only screen and (min-width: 1025px) {
    header, main, nav, footer {
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px repeat(2, 1fr);
    }

    .hamburger {
        display:none
    }

    .navigation {
        display: block;
    }
    .navigation ul{
        display: flex;
    }
    .navigation a {
        display: block;
        color: var(--Title-color);
        background-color: var(--Accent2-color);
        text-decoration: none;
        border: solid 1px #000000;
        padding: .8rem 10px;
    }

    /* ----------------------------------------------------Body Directory---------------------------------------------------- */

    .filters {
        max-width: 500px;
    }

    .card { 
    display:grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    place-items: center;
    }
    
    .lists { 
    padding: 1rem;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    grid-gap: 0;
    padding: 10px;
    }

    .website {
        text-decoration: none;
        padding: 10px;
        border: 1px solid black;
    }

    /* ----------------------------------------------------Body House---------------------------------------------------- */
    
    a.link {
        font-size: 1.9rem;
        top: 73%;
    }

    .news {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
        padding: 10px;
    }

    .events p {
        padding: 20px;
    }
    
    #spotlights { 
    display:grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    place-items: center;
    }
    /* ----------------------------------------------------Body join---------------------------------------------------- */
    .formData {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /* ------------------------------------Carts------------------------------------ */
    #membershipCarts {
        width: 40%;
    }
    /* ----------------------------------------------------Body Discover---------------------------------------------------- */
    /* ------------------------------------Places Carts------------------------------------ */
    main.discover {
        display: grid;
        grid-template-columns: 89% 9%;
        column-gap: 2%;
    }

    #allplaces {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
    }
    #allplaces div {
        grid-template-areas: 
        "photograph name"
        "photograph address"
        "photograph description"
        "photograph button";
    }

    .hover:hover {
        box-shadow: 0 0 50px #ff0000;
    }

    /* ----------------------------------------------------Footer---------------------------------------------------- */

    footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 10px;
    text-align: center;
    }
}