* {
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #898bf1;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: #5c3474;
}

.about {
    padding: 5px 0 5px 10px;
}
.about h2 {
    text-align: center;
    background-color: #ba5ff798;
    padding: 10px;
    margin: 0;
}
.about p {
    background-color: #898bf1;
    padding: 10px;
    margin: 0;
}

.student {
    padding: 5px 0 5px 10px;
}

.student h2 {
    text-align: center;
    background-color: #ba5ff798;
    padding: 10px;
    margin: 0;
}
.student div {
    background-color: #898bf1;
}
.student img {
    background-color: #898bf1;
    display: block;
    width: 60%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.certificate {
    padding: 5px 0 5px 10px;
    text-align: center;
}
.certificate h2 {
    text-align: center;
    background-color: #ba5ff798;
    padding: 10px;
}
.certificate p.completed {
    background-color: #fffc5f;
    padding: 10px;
    margin: 0;
    border:  #000000 solid 2px;  
    margin-bottom: 10px;
    text-align: center;
}
.certificate p {
    background-color: #898bf1;
    padding: 10px;
    margin: 0;
    border:  #000000 solid 2px;  
    margin-bottom: 10px;
    text-align: center;
}
.certificate li:hover {
    background-color: #e0de5f;
}

.filters{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    gap: 15px;
    padding: 0;
}
.filters li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border:  #000000 solid 2px;  
    background-color: #898bf1;
    color: #000000;
    border-radius: 20px;
}
.filters a {
    display: block;
    padding: .8rem 10px;
    color: #000000;
    text-decoration: none;
}

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: #ba5ff798;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}
.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}
.navigation.show {
    display: block;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #000000;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}
.navigation li.current {
    background-color: #eee;
}
.navigation a:hover {
    background-color: #e0de5f;
}

h1 {
    margin-left: 10px;
    color: #5c3474;
}

footer {
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border:  #ccc solid 1px;
    border-radius: 22px;
}
.social img {
    width: 22px;
    height: 22px;
}
.social a:hover {
    background-color: #898bf1;
}

.dates {
    background-color: #ba5ff798;
    padding: 5px;
    margin: 10px;
}